[user]
	name = Peter Mescalchin
	email = peter@magnetikonline.com.au

[core]
	autocrlf = input
	pager = less -x4

[color]
	ui = true

[diff]
	tool = meld

[alias]
	da = difftool -d
	lg = log --pretty=format:'%C(red)%h%C(green) - %s - %C(yellow)(%ar)%C(green) <%an>'
	st = status -sb
