[user]
	email = peter@magnetikonline.com
	name = Peter Mescalchin

[core]
	autocrlf = input
	excludesfile = ~/.gitignoreglobal
	pager = less -x4
	untrackedcache = true

[color]
	ui = true

[diff]
	tool = meld

[grep]
	extendedregexp = true
	linenumber = true

[push]
	default = simple

[fetch]
	prune = true

[alias]
	adda = add --update :/
	adda-cw = -c interactive.diffFilter=\"git diff --color-words\" add --update :/
	archive-tgz = archive -v --format=tgz --output=HEAD.tgz HEAD
	archive-zip = archive -v --format=zip --output=HEAD.zip HEAD
	ba = branch -avv
	da = difftool -d
	dac = difftool -d --cached
	gr = grep --break --heading
	lg = log --decorate=short --graph --pretty=format:'%C(red)%h%C(reset) %C(green)%s%C(reset) - %C(yellow)(%ar)%C(reset) %C(blue)<%an>%C(auto)%d'
	lt = ls-tree -r --abbrev=6 --full-tree --long HEAD
	mergenc = merge --no-commit --no-ff
	mergesq = merge --squash
	st = status --branch --short

[includeIf "gitdir:~/path/to/work/"]
	path = ~/.gitconfig-work
