[user]
	name = Peter Mescalchin
	email = peter@magnetikonline.com.au

[core]
	autocrlf = input
	pager = less -x4

[color]
	ui = true

[diff]
	tool = meld

[push]
	default = simple

[alias]
	da = difftool -d
	dac = difftool -d --cached
	lg = log --graph --pretty=format:'%C(red)%h%C(reset) - %s - %C(yellow)(%ar)%C(reset) <%an>'
	lt = ls-tree -r --abbrev=6 --full-tree HEAD
	st = status -sb
